<h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each burgers}}
    </ul>

<h3>Burgers are Delicious</h3>



<h4>What di you think of our burgers</h4>


<form name="myForm" action="../db/seeds.sql" onsubmit="return validateForm()" method="post">
<input type="text" name="fname">
<button type="submit" value="Submit"></button>
</form>