<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>The best burgers ever</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="sever.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
